<form>
    <div class="form-group">
	    <label>Roll:</label>
		<select name="rolls">
			<option value="Saves">Saving Throw</option>
			<option value="Perception">Perception</option>
			<option value="Skills">Skill Check</option>
		    <option value="Abilities">Ability Check</option>
		</select>
	</div>
	<div id="Perception" class="form-group" style="display: none;">
		{{#unless multiple}}
			<label>Value:</label>
			<span>{{actorData.perception.value}}</span>
		{{else}}
			<label>&nbsp;</label>
			<label>&nbsp;</label>
		{{/unless}}
	</div>
    <div class="form-group" style="display: none;">
	    <label>Skill:</label>
		<select name="Skills">
			{{#unless multiple}}
				{{#each actorData.skills}}
					<option value="{{this.key}}">{{this.name}} ({{this.value}})</option>				
		    	{{/each}}
		    {{else}}
		    	{{#each actorData.skills}}
		    	    <option value="{{this.key}}">{{this.name}}</option>
		    	{{/each}}
		    {{/unless}}
		</select>
	</div>
    <div class="form-group" style="display: none;">
	    <label>Ability:</label>
		<select name="Abilities">
			{{#unless multiple}}
				{{#each actorData.abilities}}
					<option value="{{this.key}}">{{this.name}} ({{this.value}})</option>				
		    	{{/each}}
		    {{else}}
		    	{{#each actorData.abilities}}
		    	    <option value="{{this.key}}">{{this.name}}</option>
		    	{{/each}}
		    {{/unless}}
		</select>
	</div>
    <div class="form-group" style="display: none;">
	    <label>Saves:</label>
		<select name="Saves">
			{{#unless multiple}}
				{{#each actorData.saves}}
					<option value="{{this.key}}">{{this.name}} ({{this.value}})</option>				
		    	{{/each}}
		    {{else}}
		    	{{#each actorData.saves}}
		    	    <option value="{{this.key}}">{{this.name}}</option>
		    	{{/each}}
		    {{/unless}}
		</select>
	</div>
	<div class="form-group">
	    <label>Modifier:</label>
		<input type="text" name="modifier" placeholder="e.g. +5">
	</div>
	<div class="dialog-buttons">
	    {{#unless multiple}}
			<button type="submit" name="Roll" class="dialog-button" value="1">Roll</button>	    
	    {{else}}
	    	<button type="submit" name="rollAllButton" class="dialog-button" value="1">Roll All</button>
	    {{/unless}}
	</div>		
</form>